
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>场馆预约系统 |  Venue reservation system</title>
	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Sweet Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--//meta tags ends here-->
	<!--booststrap-->
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" >
	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

	<!-- //font-awesome icons -->
	<!--stylesheets-->'
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel='stylesheet' type='text/css' media="all">
	<link href="../static/css/popuo-box.css" th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all" /><!-- //pop-ups-->
	<link href="../static/css/lsb.css" th:href="@{/css/lsb.css}" rel="stylesheet" type="text/css"> <!--gallery lsb-->

	<link href="//fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
	<script src="../static/js/jquery.magnific-popup.js" th:href="@{/js/jquery.magnific-popup.js}">  </script>
	<!--//style sheet end here-->
</head>
<body>
<div class="header-w3layouts">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top top-nav-collapse">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h2><a class="navbar-brand" href="index.html">场馆预约系统<span>|  Venue reservation system</span>
			</a></h2>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
				<li><a class="page-scroll" th:each="u: ${user}" th:href="@{/user/userMain(id=${u.id})}" th:text="${u.name}"></a></li>
				<!--<li><a class="page-scroll scroll" href="#evennts">Blog</a></li>
                <li><a class="page-scroll scroll" href="#gallery">Portfolio</a></li>-->
				<!--<li><a class="page-scroll scroll" href="#team">Agents</a></li>
                <li><a class="page-scroll scroll" href="#contact">Contact</a></li>-->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
</div>
<!-- //header -->


<!--Slider-->
<div class="slider">
	<div class="callbacks_container w3l">
		<ul class="rslides" id="slider">
			<li>
				<div class="slider-img w3-oneimg">
				</div>
				<div class="slider-info">
					<h4 th:each="n1: ${news1}" th:text="${n1.title}"></h4>
					<p th:each="n1: ${news1}" th:text="${n1.content}"></p>
				</div>
			</li>
			<li>
				<div class="slider-img w3-twoimg">
				</div>
				<div class="slider-info">
					<h4 th:each="n2: ${news2}" th:text="${n2.title}"></h4>
					<p th:each="n2: ${news2}" th:text="${n2.content}"></p>
				</div>
			</li>
			<li>
				<div class="slider-img w3-threeimg">
				</div>
				<div class="slider-info">
					<h4 th:each="n3: ${news3}" th:text="${n3.title}"></h4>
					<p th:each="n3: ${news3}" th:text="${n3.content}"></p>
				</div>
			</li>
			<li>
				<div class="slider-img w3-fourimg">
				</div>
				<div class="slider-info">
					<h4 th:each="n4: ${news4}" th:text="${n4.title}"></h4>
					<p th:each="n4: ${news4}" th:text="${n4.content}"></p>
				</div>
			</li>

		</ul>

	</div>
	<div class="clearfix"></div>
</div>
<!--//Slider-->

<!-- //Stats -->
<!--news-->
<div class="event-more" id="evennts">
	<div class="container">
		<h3 class="title-w3-agile">Blog</h3>
		<div class="w3_agile_grids">
			<div class="col-md-4 col-sm-4 services-left">
				<div class="w3_agileits_events_grid" data-aos="zoom-in">
					<div class="wthree_events_grid">
						<div class="wthree_events_grid1">
							<img src="../static/images/playground.jpg" th:src="@{/images/playground.jpg}" alt=" " class="img-responsive">
						</div>
						<div class="agileinfo_events_grid1">
							<h5><a href="#" data-toggle="modal" data-target="#myModal"> 共青场</a></h5>
							<p class="para-agileits-w3layouts">共青场简介</p>
							<div class="more-bttn">
								<a href="#" >更多信息...</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 services-left middle">
				<div class="w3_agileits_events_grid" data-aos="zoom-in">
					<div class="wthree_events_grid">
						<div class="wthree_events_grid1">
							<img src="../static/images/haikyu.jpg" th:src="@{/images/haikyu.jpg}" alt=" " class="img-responsive">
						</div>
						<div class="agileinfo_events_grid1">
							<h5><a href="#" data-toggle="modal" data-target="#myModal"> 排球馆 </a></h5>
							<p class="para-agileits-w3layouts">排球馆简介</p>
							<div class="more-bttn">
								<a href="#" >更多信息...</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 services-left">
				<div class="w3_agileits_events_grid" data-aos="zoom-in">
					<div class="wthree_events_grid">
						<div class="wthree_events_grid1">
							<img src="../static/images/tennis.png" th:src="@{/images/tennis.png}" alt=" " class="img-responsive">
						</div>
						<div class="agileinfo_events_grid1">
							<h5><a href="#" data-toggle="modal" data-target="#myModal"> 网球场</a></h5>
							<p class="para-agileits-w3layouts">网球场简介</p>
							<div class="more-bttn">
								<a href="#" >更多信息...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- bootstrap-pop-up -->
<!--<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                场馆预约系统 |  Venue reservation system
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
                <div class="modal-body">
                    <img src="images/img2.jpg" alt=" " width="700" height="300" class="img-responsive" />
                    <p>Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
            </p>
                </div>
        </div>
    </div>
</div>-->

<div class="about w3 " id="about">
	<div class="container">
		<div class="col-sm-4 ser-grid">

			<div class="ser-top-w3layouts">
				<div class="con hvr-shutter-in-horizontal">
					<span class="fa fa-home" aria-hidden="true"></span>
				</div>
				<p>丰富的场馆资源</p>
			</div>
		</div>
		<div class="col-sm-4 ser-grid two">
			<div class="ser-top-w3layouts">
				<div class="con hvr-shutter-in-horizontal">
					<span class="fa fa-key" aria-hidden="true"></span>
				</div>
				<p>可视化数据</p>
			</div>
		</div>

		<div class="col-sm-4 ser-grid">
			<div class="ser-top-w3layouts">
				<div class="con hvr-shutter-in-horizontal">
					<span class="fa fa-money" aria-hidden="true"></span>
				</div>
				<p>方便的支付功能</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<!-- Copyright -->
		<div class="col-md-7 copyright">
			<p>? 2018 Place_reservation All Rights Reserved | Design by <a href="#" target="_blank"> hanhan&chanchan </a></p>

		</div>
		<!-- //Copyright -->
		<div class="col-md-5 bottom-head">
			<div class="icons-buttn">
				<ul>/
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-rss"></span></a></li>
					<li><a href="#"><span class="fa fa-vk"></span></a></li>
				</ul>
			</div>
		</div>

		<div class="clearfix"> </div>
	</div>
</div>
<!--//footer-->
<!--menu script-->
<script type='text/javascript' src='../static/js/jquery-2.2.3.min.js' th:href="@{/js/jquery-2.2.3.min.js}"></script>
<script type="text/javascript" src="../static/js/modernizr-2.6.2.min.js" th:href="@{/js/modernizr-2.6.2.min.js}"></script>
<script src="../static/js/pages/bootstrap.min.js" th:href="@{/js/pages/bootstrap.min.js}"></script>
<!--//menu script-->
<!-- banner-->
<script src="../static/js/responsiveslides.min.js" th:href="@{/js/responsiveslides.min.js}"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 1000,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    });
</script>
<!-- OnScroll-Number-Increase-JavaScript -->
<script src="../static/js/jquery.waypoints.min.js" th:href="@{/js/jquery.waypoints.min.js}"></script>
<script src="../static/js/jquery.countup.js" th:href="@{/js/jquery.countup.js}"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //OnScroll-Number-Increase-JavaScript -->
<!--pop-up-box video-->
<script src="../static/js/jquery.magnific-popup.js" th:href="@{/js/jquery.magnific-popup.js}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<!-- //pop-up-box video -->
<!-- gallery-lightbox -->
<script src="../static/js/lsb.min.js" th:href="@{/js/lsb.min.js}"></script>
<script>
    $(window).load(function() {
        $.fn.lightspeedBox();
    });
</script>
<!-- //gallery-lightbox -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../static/js/move-top.js" th:href="@{/js/move-top.js}"></script>
<script type="text/javascript" src="../static/js/easing.js" th:href="@{/js/easing.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->

<!-- for-bottom-to-top smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //for-bottom-to-top smooth scrolling -->
</body>
</html>