<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <style type="text/css">
        div{
            margin:0;
            auto;
        }
        div a{
            font-size:5px;<!--调整下方超链接格式-->
        }
    </style>
</head>
<body>
<form action="/user/signIn">
    <div align="center">
        <h1>登录</h1>
        <input type = "text" name = "name" placeholder="你的昵称" size="27" /><br/><br/>
        <input type = "password" name = "password" placeholder="密码"  size="27"/><br/><br/>
        <input type = "text" name = "checkCode" placeholder="输入右侧图片显示的内容" size="19" /> &nbsp;<a href='javascript:refreshimg()' title='看不清楚？点击换个图片'><img  id='checkcode' src="http://www.cnhww.com/demo5/GetCode.asp" border="0" /></a><br/><br/>
        <input type="submit" value="立即登录" href="/user/signIn"><br/>
        <a href="register" size="1">还没有账号？点此注册</a>
        <button
    </div>
</form>

</body>
</html>